.box{
	border:1px solid black;
	height:300px;
	width:300px;
	background-color:blue;
}

@media screen and (min-width:321px){
	.box{
		background-color:red;
	}
}

@media screen and (min-width:481px) and (max-width:720px){
	.box{
		background-color:yellow;
	}
}
