h1{
	color:red;
	font-size:30px;
	font-weight:bold;
	font-style:normal;
	background-color:green;
	text-align:center;
	text-decoration:underline;
	text-indent:100px;
	text-height;1.5px
	}
p{	
	color:red;
	background-color:blue;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	text-align:justify;
	text-decoration:underline;
	text-indent:50px;
	text-height:2.0;
}