
p{
	color:rgb(100,56,239);
	background-color:rgb(176,252,137);
	font-size:20px;
	font-weight:normal;
	font-style:italic;
	font-family:italic;
	text-align:left;
	text-indent:50px;
	text-decoration:normal;
	line-height:30px;
}

#abc{
	color:red;
	background-color:white;
	text-decoration:underline;
}

#xyz{
	color:rgb(155,252,57);
	background-color:red;
	font-size:20px;
	font-style:normal;
}

.mno{
	color:blue;
	background-color:rgb(255,55,5);
	font-weight:bild;
	text-indent:100;
}
/*.box-model{
	float:right;
	width:600px;
	height:200px;
	margin:10px;
	border:2.5px dotted blue;
	padding:8px;
	outline:5px;
	outline-color:rgb(156,234,99);
	outline-style:double;
}*/

.box{
	float:left;
	width:50%;
	height:auto;
	padding-left:15px;
	padding-bottom:15px;
	border:5px solid orange;
	/*border-style:solid;
	border-color:orange;*/
	border-left-color:green;
	border-right-color:green;
	margin-left:35px;
	margin-bottom:35px;
	outline:10px solid grey;
	color:blue;
	background-color:blue;
	color:red;
	font-weight:bold;
	font-size:20px;
	font-family:italic;
	font-style:italic;
	text-align:justify;
	text-decoration:normal;
	line-height:1.2;
}

h1{
	color:yellow;
	background-color:gray;
	text-align:center;
	text-decoration:underline;
}

#circle{
	float:right;
	width:100px;
	height:100px;
	margin:20px;
	border:10px solid green;
	border-radius:100%;
}
	